@using IKEA.PL.ViewModels.Account
@model ForgitPasswordViewModel

@{
    ViewData["Title"] = "ForgitPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmail" method="post" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
            <input class="text email" asp-for="Email" placeholder="Email" required="">
            <span asp-validation-for="Email"></span>
            <br />
            <input type="submit" value="Send Email">
        </form>
    </div>
</div>

